body {
    background-color: #cccccc;
    font-family: arial, helvetica, sans-serif;
}

.customersHeadline {
    font-size: 12pt;
    font-weight: bold;
}

.customersDescription {
    font-size: 10pt;
}

label {
    font-weight: bold;
}