<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Add Customer</title>-->
<!--    <link rel="stylesheet" th:href="@{/style.css}">-->
<!--</head>-->
<!--<body>-->
<!--<form method="POST">-->
<!--    <label for="title">Title:</label>-->
<!--    <input type="text" name="title" id="title" size="50"></input><br/>-->
<!--    <label for="author">Author:</label>-->
<!--    <input type="text" name="author" id="author" size="50"></input><br/>-->
<!--    <label for="isbn">ISBN:</label>-->
<!--    <input type="text" name="isbn" id="isbn" size="15"></input><br/>-->
<!--    <label for="description">Description:</label><br/>-->
<!--    <textarea name="description" id="description" cols="80" rows="5">-->
<!--        </textarea><br/>-->
<!--    <input type="submit"></input>-->
<!--</form>-->

<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add customer</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<h3>Add a customer</h3>
<form method="POST">
    <label for="first_name">Name:</label>
    <input type="text" name="first_name" id="first_name" size="50"></input><br/>

    <label for="last_name">Surname:</label>
    <input type="text" name="last_name" id="last_name" size="50"></input><br/>

    <label for="emailAddress">Email:</label>
    <input type="text" name="emailAddress" id="emailAddress" size="50"></input><br/>

    <label for="jobTitle">Job:</label>
    <input type="text" name="jobTitle" id="jobTitle" size="50"></input><br/>

    <label for="mobilePhone">Mobile Phone:</label>
    <input type="text" name="mobilePhone" id="mobilePhone" size="50"></input><br/>

    <label for="city">City:</label>
    <input type="text" name="city" id="city" size="50"></input><br/>

    <label for="webPage">Web Page:</label>
    <input type="text" name="webPage" id="webPage" size="50"></input><br/>

    <br/>
    <input type="submit"></input>
</form>

</body>
</html>